# Active Spring profile
SPRING_PROFILES_ACTIVE=dev

# Database
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/mobile
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=change-me
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

# Mail SMTP
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
SPRING_MAIL_FROM=

# Server port
SERVER_PORT=8082

# JWT
application.security.jwt.secret-key=replace-me
application.security.jwt.expiration=86400000
application.security.jwt.refresh-token.expiration=604800000

# Google OAuth
GOOGLE_OAUTH_CLIENT_ID=
