spring:
  datasource:
    url: jdbc:postgresql://db:5432/mobile
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: ${SPRING_MAIL_HOST:}
    port: ${SPRING_MAIL_PORT:}
    username: ${SPRING_MAIL_USERNAME:}
    password: ${SPRING_MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: ${SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH:true}
          starttls:
            enable: ${SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE:true}
    from: ${SPRING_MAIL_FROM:}
server:
  port: 8082

grpc:
  go-service:
    host: chat-video
    port: 50051
application:
  security:
    jwt:
      secret-key: ${application.security.jwt.secret-key}
      expiration: ${application.security.jwt.expiration}
      refresh-token:
        expiration: ${application.security.jwt.refresh-token.expiration}
